<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel='shortcut icon' href='{{ templateRootUrl }}/assets/images/logo-hubleto.png'>
<title>Hubleto | User guide</title>
<link rel="stylesheet" type="text/css" href="{{ templateRootUrl }}/assets/css/book.css">
<link rel="stylesheet" type="text/css" href="{{ templateRootUrl }}/assets/css/fontawesome-6.6.css">
