{% if onThisPage|length > 0 %}
  <aside class="on-this-page">
    <div><div>On this page</div></div>
    <div>
      {% for h2, h3list in onThisPage %}
        <a href="#{{ h2 }}" class="btn btn-transparent w-full mb-2"><span class="text">{{ h2 }}</span></a>
      {% endfor %}
    </div>
  </aside>
{% endif %}