<div class="alert alert-warning mt-2">
  <p>{{ ctaText ?? "Try this app in the demo." }}</p>
  <a class="btn btn-primary mt-2" href="https://demo.hubleto.com/{{ ctaUrl }}" target="_blank">
    <span class="icon"><i class="fas fa-up-right-from-square"></i></span>
    <span class="text">Try in demo</span>
  </a>
  <p>
    Login: <b>demo@hubleto.com</b><br/>
    Password: <b>demo</b>
  </p>
</div>
