<div class="main-page-screenshot">
  <img
    class="screenshot"
    src="{{ env.guideRootUrl }}/screenshots/{{ screenshotUrl|replace({'/': '--'}) }}.png"
    tabindex="1"
    alt="{{ caption }}"
  />
  <div>{{ caption }}</div>
</div>