{# see WaiBlue\GuideVis\Loader->getPageVars() for the list of available variables #}

<div class="step-by-step">
  {% for stepCnt, step in steps %}
    <div class="step">
      <div class="step-counter">{{ stepCnt }}</div>
      <div class="step-content">
        <div class="step-title">{{ markdown(step.title)|raw }}</div>
        <div class="step-description">{{ markdown(step.description)|raw }}</div>
      </div>
      {% if step.example %} <span class="step-example"><pre>{{ step.example|raw }}</pre></span> {% endif %}
    </div>
  {% endfor %}
</div>
