<div class="alert alert-info mt-4 text-center w-1/2">
  This documentation is not ready yet. We're working hard but it takes time to build it.<br/>
  <br/>
  <br/>
  <br/>
  <i style="font-size:4em" class="fa-solid fa-person-digging"></i>
  <br/>
  <br/>
  <br/>
  <br/>
  <a href="{{ guideRootUrl }}/join-us">Do you want to help us?</a>
</div>
